# Hack-a-thon instructor-only files
hack-a-thon/generate_data.py
hack-a-thon/greenfin_test_labels.csv

.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
.quarto

/.quarto/
/_site/

ISLR2v2_corrected_June_2023.pdf
**/*.quarto_ipynb